@charset "utf-8";
/*------------------------------------*\
	Reset CSS
		- based Eric-Meyer's CSS Reset
\*------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,main,hgroup,menu,nav,section,summary,time,mark,audio,video{
	background:transparent;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	max-width:100%
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
	display:block
}
body{
	background-color:#FAFAFA;
	line-height:1.8;
	font-family:'Apple SD Gothic Neo','Apple Gothic','나눔고딕','Nanum Gothic','맑은 고딕','Malgun Gothic';
	font-size:100%
}
ul,ol{
	margin-left:1.75rem
}
ol ol{
	list-style-type:lower-roman
}
ol ol ol{
	list-style-type:lower-alpha
}
blockquote,q{
	quotes:none
}
pre{
	display:inline-block
}
blockquote:before,blockquote:after,q:before,q:after{
	content:'';
	content:none
}
a{
	color:inherit
}
ins{
	color:#000;
	text-decoration:none
}
del{
	text-decoration:line-through
}
abbr[title],dfn[title]{
	border-bottom:1px dotted;
	cursor:help
}
table{
	table-layout:fixed;
	border-collapse:collapse;
	border-spacing:0
}
table,tr,th,td{
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show
}
input,select{
	margin:0;
	padding:0;
	vertical-align:middle
}
button{
	font:inherit;
	margin:0;
	padding:0;
	border:0;
	background:transparent;
	cursor:pointer
}
img{
	max-width:100%
}
img[height]{
	height:auto !important
}
em{
	margin-right:.5em
}
.hidden-accessible{
	overflow:hidden !important;
	clip:rect(1px,1px,1px,1px) !important;
	position:absolute !important;
	width:1px !important;
	height:1px !important
}
.clearfix:after{
	clear:both;
	content:'';
	display:table;
	height:0;
	overflow:hidden;
	visibility:hidden
}
.fix-justify:before{
	content:'';
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden
}
html,body{
	height:100%;
	min-height:100%
}
body{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:1em
}
/*------------------------------------*\
	Example's Layout
\*------------------------------------*/

fieldset{
	position:relative;
	margin:0;
	padding:0;
	border:none
}
input{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #888;
	padding:5px;
	width:300px;
	line-height:20px;
	font-size:15px
}
button {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	border:1px solid #999;
	padding:5px;
	width:50px;
	background-color:#74c9ff;
	font-size:15px;
	line-height:20px;
	vertical-align:middle
}
.listbox{
	list-style-type:none;
	margin:0;
	padding:0;
	border-left:1px solid #333;
	border-right:1px solid #333;
	width:298px
}
.listbox li{
	border-bottom:1px solid #333
}
.listbox li:first-child{
	border-top:1px solid #333
}
.listbox li.active,
.listbox li:hover{
	background-color:#74c9ff
}