 .tab-interface{
	width: 500px;
}
.tab-list{
	padding-left: 0;
	margin: 0;
}
.tab-list:after{
	display: block;
	clear: both;
	content: "";
}
.tab-list li {
	float: left;
	list-style: none;
}
.tab-list li{
	display: block;
	background: #999;
	color: #fff;
	border: 2px solid #999;
	border-bottom: 0;
	padding: 10px;
	margin-right: 5px;
	border-radius: 10px 10px 0 0;
	text-decoration: none;
	position: relative;
	top: 2px;
}
[aria-selected="true"]{
	background: #fff !important;
	color: #aaa !important;
	font-weight: bold;
}
.tab-contents{
	margin-top: 0;
	padding: 15px;
	border: 2px solid #aaa;
	z-index: 5;
}
.tab-contents h1{
	font-size: 1.3em;
}
.unvisual{
	display: none;
}